{% extends "base.html" %}ㅑ
{% load staticfiles %}

{% block content %}
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="{% url "home" %}" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home</a> <a href="{% url "password_change" %}" class="current">Change Password</a></div>
            <h1>비밀번호 변경</h1>
            <!--이곳에 내용을 입력하세요-->
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span7">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-lock"></i> </span>
                            <h5>비밀번호를 변경 하세요.</h5>
                        </div>
                        <div class="widget-content nopadding">

                            <form id="loginform" class="form-horizontal" method="post" action=".">
                                {% csrf_token %}

                                <div class="control-group warning">
                                    <label class="control-label" for="inputWarning">Old Password</label>
                                    <div class="controls">
                                        {{ form.old_password }}
                                        <span class="help-inline"> 현재 비밀번호를 입력해 주세요.</span><br>
                                        <span class="field-error">{{ form.old_password.errors|striptags }}</span>
                                    </div>
                                </div>


                                <div class="control-group info">
                                    <label class="control-label" for="inputInfo">New Password</label>
                                    <div class="controls">
                                        {{ form.new_password1 }}
                                        <span class="help-inline">새로운 비밀번호를 입력해 주세요.</span><br>
                                        <span class="field-error">{{ form.new_password1.errors|striptags }}</span>

                                    </div>
                                </div>

                                <div class="control-group info">
                                    <label class="control-label" for="inputInfo">Re-write Password</label>
                                    <div class="controls">
                                        {{ form.new_password2 }}
                                        <span class="help-inline">한번 더 비밀번호를 입력해 주세요.</span><br>
                                        <span class="field-error">{{ form.new_password2.errors|striptags }}</span>                                            <span class="field-error">{{ form.new_password1.errors|striptags }}</span>

                                    </div>
                                </div>

                                <div class="form-actions">
                                    <span class="pull-left"><button id="signin" name="signin" class="btn btn-success" type="submit">Change</button></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--내용 입력 종료-->
        </div>
        <!--End-breadcrumbs-->
    </div>
{% endblock content %}
