{% extends "auth_base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="loginbox">
        <form id="loginform" class="form-vertical" method="post" action=".">
            {% csrf_token %}
            <div class="control-group normal_text"> <h3><img src="{% static "img/logo.png"%}" alt="Logo" /></h3></div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        {{ form.username }}<br>
                        <span class="field-error">{{ form.username.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lb"><i class="icon-edit"></i></span>
                        {{ form.first_name }}<br>
                        <span class="field-error">{{ form.first_name.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lh"><i class="icon-envelope"></i></span>
                        {{ form.email }}<br>
                        <span class="field-error">{{ form.email.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lo"><i class="icon-phone"></i></span>
                        {{ form.phone }}<br>
                        <span class="field-error">{{ form.password1.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        {{ form.password1 }}<br>
                        <span class="field-error">{{ form.password1.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        {{ form.password2 }}<br>
                        <span class="field-error">{{ form.password2.errors|striptags }}</span>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="{% url "login" %}" class="btn btn-info" id="to-login">Login?</a></span>
                <span class="pull-right"><button id="signin" name="signin" class="btn btn-success" type="submit">Sign Up</button></span>
            </div>
        </form>
    </div>
{% endblock %}

